@using Cartoleiro.Core.Cartola
@using Cartoleiro.Web.AppCode.Extensions
@using Cartoleiro.Web.AppCode.HtmlHelpers
@model dynamic
@{
    ViewBag.Title = "Scouts ao vivo";
}

<h2 class="page-header">@ViewBag.Title <small>acompanhe seu time em tempo real</small></h2>

<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#tabPersonalizado" aria-controls="tabPersonalizado" role="tab" data-toggle="tab">Personalizado</a></li>
    <li role="presentation"><a href="#tabRodada" aria-controls="tabRodada" role="tab" data-toggle="tab">Rodada</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="tabPersonalizado">
        <div class="col-md-4">
            <iframe src="http://parciais.competicaocartolafc.com/parciais_cartolafc/Parciais_Box_1.htm" width="312px" height="800px" frameborder="0"></iframe>
        </div>
        <div class="col-md-4">
            <iframe src="http://parciais.competicaocartolafc.com/parciais_cartolafc/Parciais_Box_2.htm" width="312px" height="800px" frameborder="0"></iframe>
        </div>
        <div class="col-lg-4">
            <iframe src="http://parciais.competicaocartolafc.com/parciais_cartolafc/Parciais_Box_3.htm" width="312px" height="800px" frameborder="0"></iframe>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade col-lg-offset-1" id="tabRodada">
        <div class="row">
            @foreach (var jogo in Campeonato.Rodadas.ProximaRodada.Jogos)
            {
                @Ajax.ActionLink(jogo,
                @<div class="col-md-2 panel panel-default panel-partida">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">
                                <img src="@jogo.Mandante.GetUrlImagem()" width="32" height="32" alt="@jogo.Mandante.Nome" title="@jogo.Mandante.Nome" />
                            </div>
                            <div class="media-body media-middle text-center panel-partida-placar">
                                <span><strong>@jogo.PlacarMandante</strong></span>
                                <span>x</span>
                                <span><strong>@jogo.PlacarVisitante</strong></span>
                            </div>
                            <div class="media-right">
                                <img src="@jogo.Visitante.GetUrlImagem()" width="32" height="32" alt="@jogo.Visitante.Nome" title="@jogo.Visitante.Nome" />
                            </div>
                        </div>
                    </div>
                </div>, "ScoutsPartida", "ScoutsAoVivo", new { idPartida = jogo.GetIdPartidaScoutsOnLine() }, new AjaxOptions { UpdateTargetId = "divConfronto", LoadingElementId = "divLoading"})
            }
        </div>
        <div class="row">
            <div id="divLoading" class="text-center col-md-10 col-md-offset-1" style="display: none"><img src="~/Images/loading.gif" alt="loading..." /></div>
            <div id="divConfronto">
                @*@{Html.RenderAction("ScoutsPartida", new {idPartida = "81_avai_gremio"});}*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTabs a:first').tab('show');
        })
    </script>
}
