<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Cartoleiro: ferramenta para simular a escalação times no Cartola FC com o seu patrimônio (cartoletas) e utilizando analisadores estatísticos de partidas anteriores.">
    <meta name="keywords" content="mestre cartoleiro, cartoleiro, cartola, cartola fc, futebol, campeonato, brasileiro"/>
    <meta name="robots" content="index, follow">
    <title>@ViewBag.Title - Mestre Cartoleiro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Cartoleiro", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Escalador", "Index", "Escalador")</li>
                    <li>@Html.ActionLink("Scouts ao vivo", "Index", "ScoutsAoVivo")</li>
                    <li>@Html.ActionLink("Confrontos", "Index", "Confrontos")</li>
                    <li>@Html.ActionLink("Contato", "Contato", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    @RenderSection("header", required: false)
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cartoleiro</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cartoleiro")
    @Html.Partial("_GoogleAnalitics")
    @RenderSection("scripts", required: false)
</body>
</html>
