@using Cartoleiro.Core.Cartola
@using Cartoleiro.Web.Helpers

@{
    var jogadores = CartoleiroApp.CartolaDataSource.Jogadores.Where(j => j.Posicao != Posicao.Tecnico)
                                                             .OrderByDescending(j => j.Pontuacao.Media)
                                                             .Take(50)
                                                             .ToList();
}
@if (jogadores.Any())
{
    <table class="table table-striped table-bordered table-cartoleiro">
        <thead>
            <tr>
                <th style="width: 70%">Jogador</th>
                <th style="width: 15%">C$</th>
                <th style="width: 15%">Média</th>
            </tr>
        </thead>
        @foreach (var jogador in jogadores)
        {
            <tr>
                <td>
                    <div class="media">
                        <div class="media-left media-middle">
                            <img src="@Url.Content(jogador.Clube.GetUrlImagem())" width="32" height="32" alt="@jogador.Clube.Nome" title="@jogador.Clube.Nome" />
                        </div>
                        <div class="media-body">
                            <span class="text-muted">@jogador.Posicao</span><br /><strong>@jogador.Nome</strong>
                        </div>
                    </div>
                </td>
                <td>@jogador.Preco.Atual.ToString("F")</td>
                <td>@jogador.Pontuacao.Media.ToString("F")</td>

            </tr>
        }
    </table>
}
