@using Cartoleiro.Core.Cartola
@using Cartoleiro.Web.Models

@{
    var jogadores = CartoleiroApp.CartolaDataSource.Jogadores.Where(j => j.Posicao != Posicao.Tecnico)
                                                             .OrderByDescending(j => j.Pontuacao.Media)
                                                             .Take(50)
                                                             .ToList();
}
@if (jogadores.Any())
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Clube</th>
                <th>Jogador</th>
                <th>C$</th>
                <th>Média</th>
            </tr>
        </thead>
        @foreach (var jogador in jogadores)
        {
            <tr>
                <td><span class="text-muted">@string.Format("{0}º lugar", jogador.Clube.Campeonato.Posicao)</span><br />@jogador.Clube.Nome</td>
                <td><span class="text-muted">@jogador.Posicao</span><br /><strong>@jogador.Nome</strong></td>
                <td>@jogador.Preco.Atual.ToString("F")</td>
                <td>@jogador.Pontuacao.Media.ToString("F")</td>
            </tr>
        }
    </table>
}
