@using Cartoleiro.Web.AppCode.Extensions
@model Cartoleiro.Core.Cartola.Jogador

@{
    ViewBag.Title = Model.Nome;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">@ViewBag.Title <small>dados atualizados do Cartola FC</small></h2>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="text-center"><img src="@Model.GetUrlImagem()" class="img-circle" width="120" height="120" alt="@Model.Clube.Nome" title="@Model.Clube.GetTooltip()" /></div>
                <h3 class="text-center">@Model.Nome</h3>
                <br />
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Clube</td>
                            <td>
                                <img src="@Model.Clube.GetUrlImagem()" width="20" height="20" alt="@Model.Clube.Nome" title="@Model.Clube.Nome" style="margin-left: -30px; float: left" />
                                @Model.Clube.Nome
                            </td>
                        </tr>
                        <tr>
                            <td>Posição</td>
                            <td>@Model.Posicao</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>@Model.Status</td>
                        </tr>
                        <tr>
                            <td>Jogos</td>
                            <td>@Model.Jogos</td>
                        </tr>
                        <tr>
                            <td>Pontuação</td>
                            <td>@Model.Pontuacao.Media.ToString("F")</td>
                        </tr>
                        <tr>
                            <td>Preço</td>
                            <td>C$ @Model.Preco.Atual.ToString("F")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Scouts atacando</h3>
            </div>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.Scouts.Atacando())
                    {
                        <tr>
                            <td>@item.Item1</td>
                            <td><span class="pull-right scouts-lista-time-total label label-primary">@item.Item2</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="panel panel-info2">
            <div class="panel-heading">
                <h3 class="panel-title">Scouts defendendo</h3>
            </div>
            <table class="table">
                <tbody>
                    @foreach (var item in Model.Scouts.Defendendo())
                    {
                        <tr>
                            <td>@item.Item1</td>
                            <td><span class="pull-right scouts-lista-time-total label label-info">@item.Item2</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Sobre o jogador</h3>
        <p>@Model.Nome é @Model.Posicao no clube @Model.Clube.Nome no Campeonato Brasileiro 2015.</p>
        <p>@Model.Nome jogou @Model.Jogos partidas e mantêm uma média de @Model.Pontuacao.Media.ToString("F") por jogo. Sua variação no último jogo foi de @Model.Pontuacao.Ultima.ToString("F") pontos.</p>
        <p>Seu preço atual é de @Model.Preco.Atual.ToString("F") cartoletas. Sua variação no último jogo foi de C$ @Model.Preco.Variacao.ToString("F").</p>
    </div>
</div>