@using Cartoleiro.Web.AppCode.Extensions
@using Cartoleiro.Web.Models.ConfrontosModels
@model Cartoleiro.Core.Confronto.ResultadoDoConfronto

@if (Model != null)
{
    <div class="panel panel-default panel-scouts-confronto">
        <div class="panel-body">
            <div class="panel-scouts-confronto-mandante">
                <a href="@Url.Action("Detalhe", "Clube", new { id = Model.Mandande.GetNomeNormalizado() })">
                    <span>@Model.Mandande.Nome</span>
                    <img src="@Model.Mandande.GetUrlImagem()" width="32" height="32" alt="@Model.Mandande.Nome" title="@Model.Mandande.Nome" />
                </a>
            </div>
            <div class="pull-left">
                <span><strong>@Model.TotalMandante</strong></span>
                <span>x</span>
                <span><strong>@Model.TotalVisitante</strong></span>
            </div>
            <div class="panel-scouts-confronto-visitante">
                <a href="@Url.Action("Detalhe", "Clube", new { id = Model.Visitante.GetNomeNormalizado() })">
                    <img src="@Model.Visitante.GetUrlImagem()" width="32" height="32" alt="@Model.Visitante.Nome" title="@Model.Visitante.Nome" />
                    <span>@Model.Visitante.Nome</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 scouts-lista-time scouts-lista-time-casa">
        @Html.Partial("_ItensConfronto", new ResultadoViewModel(Model, Model.Mandande))
    </div>
    <div class="col-md-6 col-sm-12 scouts-lista-time">
        @Html.Partial("_ItensConfronto", new ResultadoViewModel(Model, Model.Visitante))
    </div>
}
