@using Cartoleiro.Web.AppCode
@using Cartoleiro.Web.Models.SharedModels
@{
    ViewBag.Title = "Home";
}

@section header{
    <div class="splash" style="background-position: 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="logo" src="~/Images/cartola.png" alt="Mestre Cartoleiro" />
                    <h1>Mestre Cartoleiro</h1>
                    <p class="lead">Mestre Cartoleiro é a sua ferramenta para simular a escalação times no Cartola FC com o seu patrimônio e utilizando analisadores estatísticos de partidas anteriores.</p>
                    <p>
                        <a href="@Url.Action("Index", "Escalador")" class="btn btn-outline-inverse btn-primary btn-lg">Escalar Time &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <h2 class="page-header">Atacantes<small> os 5 melhores</small></h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresAtacantes)
        </p>
        @Html.Partial("_adQuadrado1")
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Meias<small> os 5 melhores</small></h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresMeias)
        </p>
        @Html.Partial("_adQuadrado2")
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Laterais<small> os 5 melhores</small></h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresLaterais)
        </p>
        @Html.Partial("_adQuadrado3")
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="page-header">
            Zagueiros<small> os 5 melhores</small>
        </h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresZagueiros)
        </p>
        @Html.Partial("_adQuadrado4")
    </div>
    <div class="col-md-4">
        <h2 class="page-header">
            Goleiros<small> os 5 melhores</small>
        </h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresGoleiros)
        </p>
        @Html.Partial("_adQuadrado5")
    </div>
    <div class="col-md-4">
        <h2 class="page-header">
            Técnicos<small> os 5 melhores</small>
        </h2>
        <p>
            @Html.Partial("_TabelaJogadoresMini", CartoleiroApp.MelhoresTecnicos)
        </p>
        @Html.Partial("_adQuadrado6")
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="page-header">
            Defesa<small> os 5 melhores clubes</small>
        </h2>
        <p>
            @Html.Partial("_TabelaClubesMini", new ClubesComMediaDeSetorDoCampo(CartoleiroApp.MelhoresDefesas, SetorDoCampo.Defesa))
        </p>
        <a class="btn btn-default" href="@Url.Action("Index", "Clube")">Ver mais &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Meio Campo<small> os 5 melhores clubes</small></h2>
        <p>
            @Html.Partial("_TabelaClubesMini", new ClubesComMediaDeSetorDoCampo(CartoleiroApp.MelhoresMeioCampos, SetorDoCampo.MeioCampo))
        </p>
        <a class="btn btn-default" href="@Url.Action("Index", "Clube")">Ver mais &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Ataque<small> os 5 melhores clubes</small></h2>
        <p>
            @Html.Partial("_TabelaClubesMini", new ClubesComMediaDeSetorDoCampo(CartoleiroApp.MelhoresAtaques, SetorDoCampo.Ataque))
        </p>
        <a class="btn btn-default" href="@Url.Action("Index", "Clube")">Ver mais &raquo;</a>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').prop('id', 'home');
            $('#home > .navbar').addClass('navbar-transparent');
            $('#home > .navbar').addClass('navbar-transparent');

            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
}
